<div class="container">

  <div class="row justify-content-center">

    <div class="col-md-6">

      <h1>Registrar</h1>
      <hr />

      <form action="/registrar" method="POST">

        <div class="mb-3 row">
          <div class="col">
            <label for="emailInput" class="form-label">Dirección de email</label>
            <input
              type="email"
              class="form-control"
              id="emailInput"
              name="email"
            />
            <div class="form-text">Requerido.</div>
          </div>
          <div class="col">
            <label for="pwdInput" class="form-label">Contraseña</label>
            <input
              type="password"
              class="form-control"
              id="pwdInput"
              name="userPwd"
              minlength="6"
            />
            <div class="form-text">Requerido(min 6 caracters).</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="usernameInput" class="form-label">Nombre de usuario</label>
          <input
            type="text"
            class="form-control"
            id="usernameInput"
            name="username"
            minlength="2"
          />
          <div class="form-text">Requerido(min 2 caracters).</div>
        </div>

        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-dark block">Registrar</button>
        </div>

        {{#if errorMessage}}
          <div id="errorMessage">
            <p>{{errorMessage}}</p>
          </div>
        {{/if}}

      </form>
    </div>
  </div>

</div>