<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <h1>Contacta con nosotr@s</h1>
      <hr />
      <form action="/contacto" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="name" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="name" name="name" />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Su email</label>
          <input type="email" class="form-control" id="email" name="email" />
        </div>
        <div class="mb-3">
          <label for="tema" class="form-label">Tema</label>
          <input type="text" class="form-control" id="tema" name="tema" />
        </div>
        <div class="mb-3">
          <label for="descripcion" class="form-label">Descripcion</label>
          <textarea
            class="form-control"
            id="descripcion"
            name="descripcion"
            rows="3"
          ></textarea>
        </div>

        <button type="submit" value="submit" class="btn btn-dark">Enviar email a
          nosotr@s</button>
      </form>
    </div>
  </div>
</div>