<div class="container">
  <h1>{{appTitle}} 🚀</h1>
  <p>Welcome Ironhacker!</p>
  <hr />
  <a class="btn btn-secondary btn-lg" href="/registrar">Registrarse</a>
  <a class="btn btn-secondary btn-lg" href="/login">Login</a>
  <a class="btn btn-secondary btn-lg" href="/logout">Logout</a>
</div>