<div class="container">
  <form method="POST" action="/recetas/crear">
    <div class="row">
      <div class="col-4">
        <label for="ingredient1" class="form-label">Ingredient</label>
        <input
          placeholder="ingredient's name"
          id="ingredient1"
          name="ingredient1"
          type="text"
          class="form-control"
          required
        />
      </div>
      <div class="col-4">
        <label for="quantity1" class="form-label">Quantity</label>
        <input
          placeholder="quantity, just number"
          id="quantity1"
          name="quantity1"
          type="text"
          class="form-control"
          required
        />
      </div>
      <div class="col-4">
        <label for="unit1" class="form-label">Unit</label>
        <br>
          <select id="unit1" name="unit1" style="padding:8px 40px;">
            <option ></option>
           <option value="g">g</option>
          <option value="kg">unit</option>
           <option value="kg">cup</option>
          </select>
      </div>





    </div>

    <div class="row">
      <div class="col-4">
        <label for="ingredient2" class="form-label">Ingredient</label>
        <input
          placeholder="ingredient's name"
          id="ingredient2"
          name="ingredient2"
          type="text"
          class="form-control"
        />
      </div>
      <div class="col-4">
        <label for="quantity2" class="form-label">Quantity</label>
        <input
          placeholder="quantity, just number"
          id="quantity2"
          name="quantity2"
          type="text"
          class="form-control"
        />
      </div>
      <div class="col-4">
        <label for="unit2" class="form-label">Unit</label>
        <br>
          <select id="unit2" name="unit2" style="padding:8px 40px;">
             <option ></option>
           <option value="g">g</option>
          <option value="kg">unit</option>
           <option value="kg">cup</option>
          </select>
      </div>

    </div>
    <hr />
    <button type="submit" value="submit" class="btn btn-primary">
      Submit
    </button>
  </form>
</div>