<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Nutrition data</h5>
    <h6 class="card-subtitle mb-2 text-muted">Calories</h6>
    <p class="card-text">{{result.calories}}</p>

    <hr />

    <h6 class="card-subtitle mb-2 text-muted">Carbohydrate</h6>
    <p class="card-text">{{result.totalNutrients.CHOCDF.quantity}}g</p>

    <hr />

    <h6 class="card-subtitle mb-2 text-muted">Fat</h6>
    <p class="card-text">{{result.totalNutrients.FAT.quantity}}g</p>

    <hr />

    <h6 class="card-subtitle mb-2 text-muted">Protein</h6>
    <p class="card-text">{{result.totalNutrients.PROCNT.quantity}}g</p>

    <hr />

    <a href="#" class="card-link">Home page</a>
    <a href="#" class="card-link">My recipes</a>
    <a href="#" class="card-link">Añadir</a>
  </div>
</div>