<h1>Hi your recipe is:</h1>
<h1>Calories</h1>
<h1>{{result.calories}}</h1>
<hr />

<h1>Carbohydrate</h1>
<h1>{{result.totalNutrients.CHOCDF.quantity}}g</h1>

<h1>Protein</h1>
<h1>{{result.totalNutrients.PROCNT.quantity}}g</h1>

<h1>Fat</h1>
<h1>{{result.totalNutrients.FAT.quantity}}g</h1>
<hr />